*{
    font-family: 'Open Sans', sans-serif;
   margin: 0;

}

.text-orange{
    color: #FD6E0A;
  }

  
/* Header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;margin: 51px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;

    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 30px;


}

/* Banner style */
.banner{
    margin: 0 10px 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title{
    font-weight: 600;
font-size: 45px;
margin-bottom: 5px;


}

.banner-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 20px;

}
.banner-dis{
    font-weight: 400;
font-size: 18px;
color: #757575 ;
margin-bottom: 25px;

}
.button-2nd{

width: 200px;
height: 64px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
background-color: #FD6E0A;
border-radius: 5px;
border: none;


}

/* background */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png") , url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right , left;
    
  
}

/* main section style */
.main-section{
max-width: 1140px;
margin: 0 auto;

}

/* About section style  */

.about-me{
    text-align: center;
    padding: 130px 156px;
    background: #FFF8F3;
border-radius: 10px;
margin-top: 130px;
    



}

.section-title{
   
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.section-dis{
    
    color:  #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

/* About last section style */

.about-info-container{
    display: flex;
    justify-content: space-around;

}
.info-title{
    font-weight: 400;
font-size: 20px;
color:  #757575;

}
.info-description{
    font-weight: 700;
font-size: 20px;
color: #474747;

}



