*{
    font-family: 'Open Sans', sans-serif;
   margin: 0;

}

.text-orange{
    color: #FD6E0A;
  }

  
/* Header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
   padding: 51px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;

    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 30px;

}


/* Banner style */
.banner{
    margin: 0 10px 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title{
    font-weight: 600;
font-size: 45px;
margin-bottom: 5px;


}

.banner-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 20px;

}
.banner-dis{
    font-weight: 400;
font-size: 18px;
color: #757575 ;
margin-bottom: 25px;

}
.button-2nd{

width: 200px;
height: 64px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
background-color: #FD6E0A;
border-radius: 5px;
border: none;


}

/* background */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png") , url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right , left;
    
  
}

/* main section style */
.main-section{
max-width: 1140px;
margin: 0 auto;

}

/* About section style  */

.about-me{
    text-align: center;
    padding: 130px 156px;
    background: #FFF8F3;
border-radius: 10px;
margin-top: 130px;
    



}

.section-title{
   
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.section-dis{
    
    color:  #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

/* About last section style */

.about-info-container{
    display: flex;
    justify-content: space-around;

}
.info-title{
    font-weight: 400;
font-size: 20px;
color:  #757575;

}
.info-description{
    font-weight: 700;
font-size: 20px;
color: #474747;

}
/* what i do section style */
    .section-title-what{
        font-weight: 700;
      font-size: 35px;
       color:#181818;
       text-align: center;
       margin-top: 130px;

       
    }
    .what-i-do-des{
      
        margin-top: 30px;
        text-align: center;
        font-weight: 400;
font-size: 18px;
color:#757575 ;

    }

    .skill-container{
        display: flex;
        gap: 24px;
        margin-top: 50px;
    }

    .skill-title{
        font-weight: 700;
font-size: 20px;
color: #181818;
margin-top: 30px;
margin-bottom: 20px;
    }
    .skill-description{
        font-weight: 400;
        font-size: 16px;
         color: #757575;
    }  
    .skill{
        background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px; 
padding: 30px;
    }

    /* Resume section style  */


.resume-main-title{
    font-weight: 700;
 font-size: 35px;
 color: #181818;
 text-align: center;
  margin-top: 130px;

}
.resume-content{
    display: flex;
    justify-content: space-around;
    margin-top: 113px;
    font-weight: 700;
   font-size: 25px;
   color: #474747;
   gap: 71px;
   

    

}
.resume-heading-1{
    font-weight: 700;
font-size: 30px;
color: #474747;
margin-bottom: 30px;
}
.resume-heading-2{
    font-weight: 700;
font-size: 25px;
color:  #474747;
margin-bottom: 10px;

}

.resume-heading-3{
    font-weight: 600;
font-size: 20px;
color: #757575;
margin-bottom: 20px;
}
.resume-description{
    font-weight: 400;
font-size: 16px;
color: #757575;
margin-bottom: 30px;
}
.resume-content-box{
    border-bottom:  1px solid #D1D1D1;
    width: 558px;
   
}
.btn-primary-cv{
    width: 200px;
height: 64px;
background: #FD6E0A;
border-radius: 5px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
text-align: center;
border: 0;

}
.resume-cv-dtn{
    
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;

}

/* footer section style  */

.footer-section{
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
  
  
}
.footer-heading{
    font-weight: 700;
font-size: 35px;
color: #181818;
/* text-align: center; */
margin-bottom: 20px;
padding-top: 130px;
padding-left: 100px;



}
.footer-des{
    font-weight: 400;
font-size: 16px;
color: #474747;
margin-bottom: 30px;
padding-left: 100px;



}
.footer-icon{
    
}

 .footer-form  input[type="text"] , input[type="email"] {
    width: 450PX;
height: 64px;
    margin-top: 25px;
    background: #FFFFFF;
border-radius: 5px;
border: 0;
padding-left: 30px;


}

.footer-form textarea{
    width: 461px;
height: 180px;
margin-top: 25px;
background: #FFFFFF;
border-radius: 5px;
border: 0;
margin-bottom: 24px;
padding-left: 30px;
padding-top: 10px;
}
.footer-icon a{
    text-decoration: none;
    padding-left: 100px;
   

}
.footer-section{
    padding-bottom: 130px;
}




